# Array Numpy classique (brut), Array Numpy structur√©, Dataframe Pandas

| Action                                   | Array structur√© NumPy         | Array brut NumPy            | DataFrame Pandas               |
|------------------------------------------|--------------------------------|------------------------------|--------------------------------|
| Stocker des donn√©es typ√©es par colonne   | ‚úÖ Oui (typage strict)          | ‚ö†Ô∏è Non (m√™me type impos√©)      | ‚úÖ Oui (souple, typage par colonne) |
| Colonnes nomm√©es                         | ‚úÖ Oui                         | ‚ùå Non                       | ‚úÖ Oui                         |
| Calculs vectoris√©s / matriciels          | ‚ùå Limit√©                      | ‚úÖ Oui                       | ‚úÖ Oui + gestion des NaN       |
| Calcul colonne par colonne               | üî∏ Possible mais manuel        | ‚úÖ Simple                    | ‚úÖ Ultra simple (nom de colonne) |
| Gestion des donn√©es manquantes (NaN)     | ‚ùå Non natif                   | ‚ö†Ô∏è Possible avec dtype=object | ‚úÖ Oui, tr√®s bien int√©gr√©       |
| Fusion / Jointure                        | ‚ùå Non natif                   | ‚ùå Non                       | ‚úÖ Puissant (merge, join, SQL-like)      |
| Facilit√© de manipulation (filtrage, tri) | ‚ö†Ô∏è Plus complexe               | ‚ö†Ô∏è Basique                   | ‚úÖ Simple et clair             |
| Gestion des dimensions                   | ‚úÖ 1D uniquement               | ‚úÖ Multi-dimensionnel (nD)    | ‚úÖ 2D (DataFrame) / 1D (Series) |

Le array strucur√© de Numpy est un peu comme un dataframe de Pandas (avec des noms de colonnes, et simule le fait d'avoir des lignes et des colonnes). Davantage utile pour pr√©senter des donn√©es. Il peremt de typer les colonnes.

Le array classique (brut) de Numpy est ce pour quoi Numpy est fait : ultraperformant, tous les calculs matriciels , produits, inverses... sont rapides et simples. Du point de vue des types de donn√©es, le array classique est fait d'√©l√©ments tous du m√™me "type" : il accepte n'importe quoi, mais il va se typer lui-m√™me en prenant le type de donn√©es qui englobe tout le monde. Si je mets dans un array des entier, des nombres d√©cimaux et du texte, il va consid√©rer chaque √©l√©ment comme du texte. Les array/tableaux peuvent √™tre √† 1D, 2D ou beaucoup plus.

Le dataframe de Pandas est un tableau √† deux dimensions, le truc qui ressemble le plus √† une table dans SQL. Beaucoup de fonctionnalit√©s de manipulation de donn√©es, mais moins performant que Numpy sur les calculs bruts sur des nombres stock√©s dans des array/tableaux. En fait, Pandas vit une "couche" au-dessus de Numpy. Il supporte des types mixtes. Les "tableaux" pandas peuvent √™tre √† 1D (series) ou √† 2D (dataframe)

# Types de donn√©es : attention !!

 ‚ö†Ô∏è Attention aux types de donn√©es et √† leur gestion diff√©rente ! On peut avoir des donn√©es tronqu√©es, notamment pour les array classique/brut de Numpy.
 Il vaut donc mieux d√©finir le type de donn√©es lors de la cr√©ation du tableau, pour √©viter de perdre de l'information. En Pandas, ce probl√®me ne se pose pas.

In [3]:
import numpy as np

array_entiers = np.array([[1, 2], [3, 4]])
print(array_entiers.dtype) # il va dire int32 ou int64 ; bref, il va prendre des entiers
print(array_entiers) # il va afficher le tableau avec des entiers

array_decimaux = np.array([[1, 2], [8., 4]])
print("\n",array_decimaux.dtype) # il va dire float64 car il voit 2.0 cad un float / nombre d√©cimal, il va donc prendre ce type l√† comme √©tant le type de donn√©es de chaque √©l√©ment.
print(array_decimaux) # il va afficher le tableau avec des float
#Le type de donn√©es des √©l√©ments du array sont fix√©s lors de la cr√©ation. 
#Remarque : si on "modifie" le array avec column_stack ou np.hstack, en fait il cr√©e un noubel array, donc il va s'ajuster √† la nouvelle colonne.

#Par contre si on modifie la valeur d'un √©l√©ment, il ne va pas changer le type de donn√©es du array.
array_entiers[0, 0] = 1.7 # on remplace le premier √©l√©ment qui vaut 1 (entier) par un float (1.7)
print("\n",array_entiers.dtype) # il va dire int32 ou int64 ; bref, il va prendre des entiers, on PERD de l'information !
print(array_entiers) #  

# Il vaut donc mieux d√©finir le type de donn√©es lors de la cr√©ation du tableau, pour √©viter de perdre de l'information.
#On peut le faire en pr√©cisant le type de donn√©es lors de la cr√©ation du tableau avec l'argument dtype.     
array_decimaux = np.array([[1, 2.0], [3, 4]], dtype=np.float32) # on pr√©cise le type de donn√©es float32

import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns=["A", "B"])
print("\n",df)

df[0,0] = 1.7 # on remplace le premier √©l√©ment qui vaut 1 (entier) par un float (1.7)
print("\n",df)

int32
[[1 2]
 [3 4]]

 float64
[[1. 2.]
 [8. 4.]]

 int32
[[1 2]
 [3 4]]

    A  B
0  1  2
1  3  4

    A  B  (0, 0)
0  1  2     1.7
1  3  4     1.7

## Lire des valeurs, lignes, colonnes, ... dans un array Numpy brut ou structur√©, et dans un dataframe de Pandas

In [4]:
import numpy as np
import pandas as pd

In [5]:
Array_brut = np.array([
    [1, 'Alice', 'Math', 15.0],
    [2, 'Bob', 'Math', 18.0],
    [3, 'Alice', 'Phys', 14.0],
    [4, 'Eve', 'Math', np.nan]
], dtype=object)

print("Array brut :")
print(Array_brut)
print(type(Array_brut)) # type : <class 'numpy.ndarray'>
print(Array_brut.dtype) # dtype : object, car il y a des types diff√©rents dans le tableau (int, str, float, np.nan) 


dtype = [('id', 'i4'), ('nom', 'U10'), ('mati√®re', 'U10'), ('note', 'f4')]
array_structur√©  = np.array([
    (1, 'Alice', 'Math', 15.0),
    (2, 'Bob', 'Math', 18.0),
    (3, 'Alice', 'Phys', 14.0),
    (4, 'Eve', 'Math', np.nan)
], dtype=dtype)

print("\nArray structur√©, c'est un √©l√©ment √† une dimension, attention ! On ne voit pas le nom des colonnes:")
print(array_structur√©)
print(type(array_structur√©)) # type : <class 'numpy.ndarray'>  
print(array_structur√©.dtype) # dtype : [('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')]


df_pandas = pd.DataFrame(array_structur√©)
print("\n",df_pandas)
print(type(df_pandas)) # type : <class 'pandas.core.frame.DataFrame'>
print(df_pandas.dtypes) # dtype : id int32, nom object, mati√®re object, note float32

Array brut :
[[1 'Alice' 'Math' 15.0]
 [2 'Bob' 'Math' 18.0]
 [3 'Alice' 'Phys' 14.0]
 [4 'Eve' 'Math' nan]]
<class 'numpy.ndarray'>
object

Array structur√©, c'est un √©l√©ment √† une dimension, attention ! On ne voit pas le nom des colonnes:
[(1, 'Alice', 'Math', 15.) (2, 'Bob', 'Math', 18.)
 (3, 'Alice', 'Phys', 14.) (4, 'Eve', 'Math', nan)]
<class 'numpy.ndarray'>
[('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')]

    id    nom mati√®re  note
0   1  Alice    Math  15.0
1   2    Bob    Math  18.0
2   3  Alice    Phys  14.0
3   4    Eve    Math   NaN
<class 'pandas.core.frame.DataFrame'>
id           int32
nom         object
mati√®re     object
note       float32
dtype: object

In [6]:
Array_brut

array([[1, 'Alice', 'Math', 15.0],
       [2, 'Bob', 'Math', 18.0],
       [3, 'Alice', 'Phys', 14.0],
       [4, 'Eve', 'Math', nan]], dtype=object)

In [7]:
array_structur√©

array([(1, 'Alice', 'Math', 15.), (2, 'Bob', 'Math', 18.),
       (3, 'Alice', 'Phys', 14.), (4, 'Eve', 'Math', nan)],
      dtype=[('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')])

Notez que le array structur√© est TOUJOURS √† une dimension ! Il simule une table gr√¢ce √† ses propri√©t√©s dtype et dtype.names

## Lire/s√©lectionner un √©l√©ment pr√©cis

### Array Numpy classique / Brut

In [8]:
print("Array brut :")
print(Array_brut[2,3])

Array brut :
14.0

In [10]:
array_structur√©

array([(1, 'Alice', 'Math', 15.), (2, 'Bob', 'Math', 18.),
       (3, 'Alice', 'Phys', 14.), (4, 'Eve', 'Math', nan)],
      dtype=[('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')])

### Array Numpy Structur√©

In [9]:
print("\nArray structur√© :")
print(array_structur√©[2][3]) # Affiche la note de Alice en Physique : la 4√®me "colonne" (colonne 3 car on compte √† partir de 0) de la 3√®me "ligne" (ligne 2)
# Acc√©der √† la note d'Alice en physique (filtres)
note_alice = array_structur√©[(array_structur√©['nom'] == 'Alice') & (array_structur√©['mati√®re'] == 'Phys') ]['note']
print("\nNote d'Alice :", note_alice)

Array structur√© :
14.0

Note d'Alice : [14.]

### Dataframe Pandas

Pandas n‚Äôa pas de df[[ligne],[colonne]] comme NumPy.

Mais avec .iloc, tu peux faire la m√™me chose avec des listes ou des slices (les deux points :) !

C‚Äôest √ßa qu‚Äôon appelle ¬´‚ÄØindexation bas√©e sur position‚ÄØ¬ª en Pandas.

In [40]:
# Filtrer Alice en Physique et lire la valeur de sa note
note_alice_phys = df_pandas[(df_pandas['nom'] == 'Alice') & (df_pandas['mati√®re'] == 'Phys')]['note'].iloc[0]
print(df_pandas[(df_pandas['nom'] == 'Alice') & (df_pandas['mati√®re'] == 'Phys')]['note'])

print("\nLe iloc va prendre la valeur de la note dans le tableau filtr√©. Ce dernier a un index 2 que je ne veux pas dans le r√©ponse")
print("La note d'Alice en Physique est :", note_alice_phys)

print(df_pandas.iloc[2, 3]) # Affiche la note de Alice en Physique : la 4√®me "colonne" (colonne 3 car on compte √† partir de 0) de la 3√®me "ligne" (ligne 2)

2    14.0
Name: note, dtype: float32

Le iloc va prendre la valeur de la note dans le tableau filtr√©. Ce dernier a un index 2 que je ne veux pas dans le r√©ponse
La note d'Alice en Physique est : 14.0
14.0

In [41]:
# Filtrer Alice en Physique et lire la valeur de sa note
note_alice_phys = df_pandas[(df_pandas['nom'] == 'Alice') & (df_pandas['mati√®re'] == 'Phys')]['note'].iloc[0]
print(df_pandas[(df_pandas['nom'] == 'Alice') & (df_pandas['mati√®re'] == 'Phys')]['note'])

print("\nLe iloc va prendre la valeur de la note dans le tableau filtr√©. Ce dernier a un index 2 que je ne veux pas dans le r√©ponse")
print("La note d'Alice en Physique est :", note_alice_phys)

print(df_pandas.iloc[2, 3]) # Affiche la note de Alice en Physique : la 4√®me "colonne" (colonne 3 car on compte √† partir de 0) de la 3√®me "ligne" (ligne 2)

2    14.0
Name: note, dtype: float32

Le iloc va prendre la valeur de la note dans le tableau filtr√©. Ce dernier a un index 2 que je ne veux pas dans le r√©ponse
La note d'Alice en Physique est : 14.0
14.0

In [42]:
print("Ligne 2, toutes les colonnes :")
print(df_pandas.iloc[2,:])  # ligne 2 (la 3√®me), toutes les colonnes

print("Colonne 3, toutes les lignes :")
print(df_pandas.iloc[:,3])  # toutes les lignes, colonne 3 (la 4√®me)

print(df_pandas['note'])

Ligne 2, toutes les colonnes :
id             3
nom        Alice
mati√®re     Phys
note        14.0
Name: 2, dtype: object
Colonne 3, toutes les lignes :
0    15.0
1    18.0
2    14.0
3     NaN
Name: note, dtype: float32
0    15.0
1    18.0
2    14.0
3     NaN
Name: note, dtype: float32

## Lire un ligne/colonne pr√©cise.

### Array Numpy classique / Brut

In [44]:

Array_brut 
print("Ligne 2, toutes les colonnes :")
print(Array_brut[2,:])  # ligne 2 (la 3√®me), toutes les colonnes
print(Array_brut[2,:].shape, "C'est un √©l√©ment √† 1 dimension") #sa shape est (nombre de colonne,) cad 1D, on n'a plus de notion de ligne ou colonne. Car on a s√©elctionn√© une seule ligne, mais on n'a pas pris la ligne en tant que ligne, seulement ses √©l√©ments (pas de crochets autour des √©l√©ments)
print("ou")
print(Array_brut[[2],:])  # ligne 2 (la 3√®me), toutes les colonnes ; ici le [2] indique une liste de lignes, et la liste contient un seul √©l√©ment. La r√©ponse sera un sous-ensemble de lignes du tableau, donc ce sera un objet √† 2D, sa shpae sera (1,nombre de colonnes).
print(Array_brut[[2],:].shape, "C'est un √©l√©ment √† 2 D, un peu comme une table dans SQL, tronqu√©e √† seul enregistrement, cela reste une table") #sa shape est (1,nombre de colonne,) cad 2D, car on a pris une seule ligne. On a mis des crochets autour de la ligne pour indiquer qu'on veut une liste de lignes, et la liste contient un seul √©l√©ment. La r√©ponse sera un sous-ensemble de lignes du tableau, donc ce sera un objet √† 2D.

print("\nColonne 3, toutes les lignes :")
print(Array_brut[:,3])  # toutes les lignes, colonne 3 (la 4√®me)

Ligne 2, toutes les colonnes :
[3 'Alice' 'Phys' 14.0]
(4,) C'est un √©l√©ment √† 1 dimension
ou
[[3 'Alice' 'Phys' 14.0]]
(1, 4) C'est un √©l√©ment √† 2 D, un peu comme une table dans SQL, tronqu√©e √† seul enregistrement, cela reste une table

Colonne 3, toutes les lignes :
[15.0 18.0 14.0 nan]

In [45]:
Array_brut

array([[1, 'Alice', 'Math', 15.0],
       [2, 'Bob', 'Math', 18.0],
       [3, 'Alice', 'Phys', 14.0],
       [4, 'Eve', 'Math', nan]], dtype=object)

### Array Numpy structur√©
Il est en fait un objet 1D, donc √† strictement parler, Il n'y a pas de notion de ligne et colonne pour un array structur√©

In [ ]:
print("Ligne 2, toutes les colonnes :")
print(array_structur√©[2])  # ligne 2 (la 3√®me), toutes les colonnes

print("Colonne 3, toutes les lignes :")
print(array_structur√©['nom'])  # Dans les arrays structur√©s, la notion de "colonne" passe par le nom (data['note']) et non par une position num√©rique comme dans un array brut.

Ligne 2, toutes les colonnes :
(3, 'Alice', 'Phys', 14.)
Colonne 3, toutes les lignes :
['Alice' 'Bob' 'Alice' 'Eve']

### Dataframe Pandas

In [48]:
print("Ligne 2, toutes les colonnes :")
print(df_pandas.iloc[2,:])  # ligne 2 (la 3√®me), toutes les colonnes

print("Colonne 3, toutes les lignes :")
print(df_pandas.iloc[:,3])  # toutes les lignes, colonne 3 (la 4√®me)

print(df_pandas['note'])

Ligne 2, toutes les colonnes :
id             3
nom        Alice
mati√®re     Phys
note        14.0
Name: 2, dtype: object
Colonne 3, toutes les lignes :
0    15.0
1    18.0
2    14.0
3     NaN
Name: note, dtype: float32
0    15.0
1    18.0
2    14.0
3     NaN
Name: note, dtype: float32

## Lire plusieurs lignes/colonnes pr√©cises
On peut utiliser 
- des listes d'indices (de lignes/colonnes)
- des slices (tranches) via le symbole ":"

On parle parfois de "fancy indexing ()" qui est un fa√ßon cr√©ative de s√©lectionner des donn√©es (via des listes d'indices, des filtres bool√©ens)

### Array Numpy classique / Brut

In [50]:
print("\nLigne 0 et 2, toutes les colonnes :")
print(Array_brut[[0,2],:])  # ligne 0 et 2 (mais pas ligne 1), toutes les colonnes, on met des crochets pour indiquer qu'on liste plusieurs lignes, sinon il pense qu'on passe √† dimension suivante

print("\nLignes 0 √† 3 ,3 non inclus, toutes les colonnes :")
print(Array_brut[0:3,:])  # lignes 0,1 et 2 (de 0 √† 3, 3 non inclus), toutes les colonnes

print("\nColonne 2, toutes les lignes :")
print(Array_brut[:,2])  # toutes les lignes, colonne 2 (la 3√®me)

print("\nLignes 0 √† 3 ,3 non inclus, colonnes 1 et 2 :")
print(Array_brut[0:3,[1,3]])  # lignes 0,1 et 2 (de 0 √† 3, 3 non inclus), colonnes 1 et 3 

print("\nLignes 0 √† 3 ,3 non inclus, colonnes 1 et 2 :")
print(Array_brut[0:3,:])  # lignes 0,1 et 2 (de 0 √† 3, 3 non inclus), toutes les colonnes

Ligne 0 et 2, toutes les colonnes :
[[1 'Alice' 'Math' 15.0]
 [3 'Alice' 'Phys' 14.0]]

Lignes 0 √† 3 ,3 non inclus, toutes les colonnes :
[[1 'Alice' 'Math' 15.0]
 [2 'Bob' 'Math' 18.0]
 [3 'Alice' 'Phys' 14.0]]

Colonne 2, toutes les lignes :
['Math' 'Math' 'Phys' 'Math']

Lignes 0 √† 3 ,3 non inclus, colonnes 1 et 2 :
[['Alice' 15.0]
 ['Bob' 18.0]
 ['Alice' 14.0]]

Lignes 0 √† 3 ,3 non inclus, colonnes 1 et 2 :
[[1 'Alice' 'Math' 15.0]
 [2 'Bob' 'Math' 18.0]
 [3 'Alice' 'Phys' 14.0]]

### Array Numpy structur√©
Il est en fait un objet 1D, donc √† strictement parler, Il n'y a pas de notion de ligne et colonne pour un array structur√©

In [13]:
array_structur√©

array([(1, 'Alice', 'Math', 15.), (2, 'Bob', 'Math', 18.),
       (3, 'Alice', 'Phys', 14.), (4, 'Eve', 'Math', nan)],
      dtype=[('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')])

In [ ]:
# A VOUS
#Le slicing fonctionne-t-il ? pour les lignes, pour les colonnes ?

#Tentative pour les lignes (les records)
print("Slicing pour les lignes :")

array_structur√©[0:3] # lignes 0,1 et 2 (de 0 √† 3, 3 non inclus)

Slicing pour les lignes :

array([(1, 'Alice', 'Math', 15.), (2, 'Bob', 'Math', 18.),
       (3, 'Alice', 'Phys', 14.)],
      dtype=[('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')])

In [15]:
array_structur√© #affiche tout le tableau, pas de slicing

array([(1, 'Alice', 'Math', 15.), (2, 'Bob', 'Math', 18.),
       (3, 'Alice', 'Phys', 14.), (4, 'Eve', 'Math', nan)],
      dtype=[('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')])

In [16]:
array_structur√©[3] # toutes les colonnes, ligne 3 (la 4√®me)

(4, 'Eve', 'Math', nan)

In [ ]:
array_structur√©[:] # toutes les lignes, toutes les colonnes

array([(1, 'Alice', 'Math', 15.), (2, 'Bob', 'Math', 18.),
       (3, 'Alice', 'Phys', 14.), (4, 'Eve', 'Math', nan)],
      dtype=[('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')])

In [ ]:
array_structur√©[0:] # toutes les lignes, toutes les colonnes

array([(1, 'Alice', 'Math', 15.), (2, 'Bob', 'Math', 18.),
       (3, 'Alice', 'Phys', 14.), (4, 'Eve', 'Math', nan)],
      dtype=[('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')])

In [ ]:
array_structur√©[2,3] # ne fonctionne pas des qu'on essaie de mettre une 2'me dimension

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [24]:
array_structur√©[1:-1] # j'affiche en commen√ßant par la 2√®me ligne (1) et en terminant par l'avant-derni√®re ligne (-1), toutes les colonnes

array([(2, 'Bob', 'Math', 18.), (3, 'Alice', 'Phys', 14.)],
      dtype=[('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')])

In [25]:
array_structur√©[2:] # j'affiche en commen√ßant par la 3√®me ligne et je prends tout le reste

array([(3, 'Alice', 'Phys', 14.), (4, 'Eve', 'Math', nan)],
      dtype=[('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')])

In [26]:
array_structur√©[:-3] # j'affiche tout sauf les 3 derni√®res lignes

array([(1, 'Alice', 'Math', 15.)],
      dtype=[('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')])

In [30]:
#EN conclusion, le slicing fonctionne pour les lignes, mais pas pour les colonnes.OU plut√¥t, on peut afficher des elements de cette dimension, en retirant des √©l√©ments ou debut ou a la fin.
array_structur√©[:-2]

array([(1, 'Alice', 'Math', 15.), (2, 'Bob', 'Math', 18.)],
      dtype=[('id', '<i4'), ('nom', '<U10'), ('mati√®re', '<U10'), ('note', '<f4')])

### Dataframe Pandas
Pour l'approche avec des slices/tranches (en utilisant ":"), on passe simplement 
- par iloc si on fonctionne avec des num√©ros d'indice de colonne
- par loc si on fonctionne avec les noms de colonne

In [ ]:
print(df_pandas.loc[:,'nom']) # toutes les lignes, colonne 'nom'

0    Alice
1      Bob
2    Alice
3      Eve
Name: nom, dtype: object

In [ ]:
print("\nLigne 0 et 2, toutes les colonnes :")
print(df_pandas.iloc[[0,2],:])  # ligne 0 et 2 (mais pas ligne 1), toutes les colonnes, on met des crochets pour indiquer qu'on liste plusieurs lignes, sinon il pense qu'on passe √† dimension suivante

print("\nLignes 0 √† 3 ,3 non inclus, toutes les colonnes :")
print(df_pandas.iloc[0:3,:])  # lignes 0,1 et 2 (de 0 √† 3, 3 non inclus), toutes les colonnes

print("\nColonne 2, toutes les lignes :")
print(df_pandas.iloc[:,2])  # toutes les lignes, colonne 2 (la 3√®me)

print("\nLignes 0 √† 3 ,3 non inclus, colonnes 1 et 2 :")
print(df_pandas.iloc[0:3,[1,3]])  # lignes 0,1 et 2 (de 0 √† 3, 3 non inclus), colonnes 1 et 3 

print("\nLignes 0 √† 3 ,3 non inclus, colonnes 1 et 2 :")
print(df_pandas.iloc[0:3,:])  # lignes 0,1 et 2 (de 0 √† 3, 3 non inclus), toutes les colonnes

### Remarque : la diff√©rence entre deux Numpy array de shape respectives (4,) et (1,4)

Les deux se ressemblent fortement. Dans l'exemple ci-dessous, on a l'impression que les deux sont le contenu d'une ligne, c'est tout.

[3 'Alice' 'Phys' 14.0]
Il y une shape de (4,) C'est un √©l√©ment √† 1 dimensions, c'est une liste plate 

[[3 'Alice' 'Phys' 14.0]]
Il a une shape de (1,4) C'est un √©l√©ment √† 2 dimensions


Conseils :
- pour des calculs vectoris√©s, reshape ton array pour √™tre explicite.
- Pour des donn√©es tabulaires, (1,4) est plus clair et plus fiable.
- Pour une simple liste de valeurs, (4,) suffit.

Utilisation | Pr√©f√©r√©  |
|-----------| ---------|
| Manipuler des vecteurs simples | (4,) (plus l√©ger) |
| Travailler avec des matrices / DataFrames / machine learning | (1,4) (plus s√ªr) |

In [ ]:
# Deux versions d'un vecteur
a = np.array([1, 2, 3, 4])        # Shape : (4,)
b = np.array([[1, 2, 3, 4]])      # Shape : (1,4)

# Soit un vecteur
c = np.array([[5], [6], [7], [8]])  # Shape : (4,1)

# Tentative de produit matriciel   # @ est l'op√©rateur de produit matriciel, * est le produit √©l√©ment par √©l√©ment ou "produit Hadamard"
try:
    print(a @ c)  # Produit avec un vecteur 1D
except ValueError as e:
    print(f"Erreur avec a @ c : {e}")

# Produit avec un array 2D
print(b @ c)  # Produit avec une matrice 2D

[70]
[[70]]

M√™me si √ßa ne plante pas, √ßa peut √™tre une source de confusion, car :

si tu encha√Ænes des calculs matriciels apr√®s, le shape peut casser la cha√Æne (par exemple .T ou @ suivant).

le r√©sultat n‚Äôa pas la m√™me forme :
un scalaire float ‚â† une matrice [[valeur]].

In [ ]:
#POur convertir un tableau 1D en tableau 2D, on peut utiliser reshape
print("a avant son reshape")
print(a)  # a est un tableau 1D de shape (4,)
print(a.shape)  # Shape : (4,)
a_reshaped = a.reshape(1, -1)  # Reshape pour obtenir une matrice 2D (1,4)
print("a reshaped :")
print(a_reshaped)
print(a_reshaped.shape)  # Shape : (1,4)

a avant son reshape
[1 2 3 4]
(4,)
a reshaped :
[[1 2 3 4]]
(1, 4)

## Lire un sous-ensemble

### Array Numpy classique / Brut

In [ ]:
print(df_pandas.iloc)
print("\nLigne 0, 2√®me colonne suivi de ligne 1, 3√®me colonne :")
print(df_pandas.iloc[[0,1],[2,3]])

print(df_pandas.iloc[[0,1],2:4])  # lignes 0 et 1, colonnes 2 √† 3 (3 non inclus)
print(df_pandas.iloc[[0,1],2:])  # lignes 0 et 1, colonnes 2 √† fin
print(df_pandas.iloc[[0,1],:])  # lignes 0 et 1, toutes les colonnes
print(df_pandas.iloc[1:,2:])  # lignes 1 √† la fin, colonne 2 √† la fin

[[1 'Alice' 'Math' 15.0]
 [2 'Bob' 'Math' 18.0]
 [3 'Alice' 'Phys' 14.0]
 [4 'Eve' 'Math' nan]]

Ligne 0, 2√®me colonne suivi de ligne 1, 3√®me colonne :
['Math' 18.0]
[['Math' 15.0]
 ['Math' 18.0]]
[['Math' 15.0]
 ['Math' 18.0]]
[[1 'Alice' 'Math' 15.0]
 [2 'Bob' 'Math' 18.0]]
[['Math' 18.0]
 ['Phys' 14.0]
 ['Math' nan]]

### Array Numpy classique / Brut

In [ ]:
#A VOUS

### Dataframe Pandas
Pour l'approche avec des slices/tranches (en utilisant ":"), on passe simplement 
- par iloc si on fonctionne avec des num√©ros d'indice de colonne
- par loc si on fonctionne avec les noms de colonne

In [ ]:
print(df_pandas.loc[:, 'nom':]) # toutes les lignes, toutes les colonnes apr√®s et incluant la colonne 'nom'
print(df_pandas.loc[:, 'nom':'mati√®re']) # toutes les lignes, toutes les colonnes entre 'nom' et 'mati√®re' (inclus)
print(df_pandas.loc[1:3, 'nom':'mati√®re']) # lignes 1 √† 3, toutes les colonnes entre 'nom' et 'mati√®re' (inclus)

     nom mati√®re  note
0  Alice    Math  15.0
1    Bob    Math  18.0
2  Alice    Phys  14.0
3    Eve    Math   NaN
     nom mati√®re
0  Alice    Math
1    Bob    Math
2  Alice    Phys
3    Eve    Math
     nom mati√®re
1    Bob    Math
2  Alice    Phys
3    Eve    Math

# Modifier l'ordre des lignes

#A VOUS, soyez syst√©matique : pour chaque cas : array classique, strucutr√© et dataframe

# Modifier un √©l√©ment (une valeur) pr√©cis

#A VOUS, soyez syst√©matique : pour chaque cas : array classique, strucutr√© et dataframe

# Ajouter une ligne / une colonne

#A VOUS, soyez syst√©matique : pour chaque cas : array classique, strucutr√© et dataframe
dans quel cas est-ce une modification d,un objet existant vs la cr√©ation d'un tout nouvel objet

# Supprimer une ligne / une colonne

#A VOUS, soyez syst√©matique : pour chaque cas : array classique, strucutr√© et dataframe
dans quel cas est-ce une modification d,un objet existant vs la cr√©ation d'un tout nouvel objet